aiohttp
asgiref
async-timeout
attrs
autobahn
Automat
blinker
bson
certifi
cffi
channels
channels-redis
chardet
charset-normalizer
click
colorama
commonmark
constantly
cryptography
daphne
defusedxml
Django
django-admin-inline-paginator
django-cors-headers
django-extensions
django-redis
django-taggit
djangorestframework
drf-yasg
easy-thumbnails
Flask
hyperlink
idna
incremental
inflection
itsdangerous
Jinja2
Markdown
MarkupSafe
msgpack
multidict
oauthlib
packaging
pdfkit
Pillow
pyasn1
pyasn1-modules
pycparser
Pygments
PyJWT
pyOpenSSL
python-dateutil
python3-openid
pytz
PyYAML
redis
requests
requests-oauthlib
rich
service-identity
six
social-auth-app-django
social-auth-core
sqlparse
Twisted
txaio
typing_extensions
uritemplate
urllib3
websockets
Werkzeug
whitenoise
yarl
zope.interface
