asgiref==3.7.2
async-timeout
certifi
cffi
charset-normalizer
cryptography
defusedxml
Deprecated
Django
django-allauth
django-crispy-forms
django-debug-toolbar
django-extensions
django-taggit
easy-thumbnails
friend
idna
Markdown
MarkupSafe
oauthlib
packaging
Pillow
pycparser
PyJWT
pyOpenSSL
python3-openid
redis
requests
requests-oauthlib
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
urllib3
Werkzeug
whitenoise
wrapt
