asgiref==3.7.2
async-timeout==4.0.3
certifi==2023.7.22
cffi
charset-normalizer==2.1.1
cryptography==41.0.5
defusedxml==0.8.0rc2
Deprecated==1.2.14
Django
django-allauth==0.58.2
django-crispy-forms
django-debug-toolbar
django-extensions
django-taggit
easy-thumbnails
friend
idna
Markdown
MarkupSafe
oauthlib
packaging
Pillow
pycparser
PyJWT
pyOpenSSL
python3-openid
redis
requests
requests-oauthlib
social-auth-app-django
social-auth-core
sqlparse
typing_extensions
urllib3
Werkzeug
wrapt   
gunicorn