{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
  
    <!-- Container START -->
    <div class="container">
      <div class="row justify-content-center align-items-center vh-100 py-5">
        <!-- Main content START -->
        <div class="col-sm-10 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
          <!-- Forgot password START -->
          <div class="card card-body rounded-3 text-center p-4 p-sm-5">
            <!-- Title -->
            <h1 class="mb-2">Forgot password?</h1>
            <p>Enter the email address associated with account.</p>
            <!-- form START -->
            <form class="mt-3">
              {{ form.as_p }}
              
              <!-- Back to sign in -->
              <div class="mb-3">
                <p>Back to <a href="{% url 'account:login' %}">Sign in</a></p>
              </div>
              <!-- Button -->
              <div class="d-grid"><button type="submit" class="btn btn-lg btn-primary">Reset password</button></div>
              {% csrf_token %}
              <!-- Copyright -->
              <p class="mb-0 mt-3">©2023 <a target="_blank" href="#">Shohrukh Uralov.</a> All rights reserved</p>
            </form>
            <!-- form END -->
          </div>
          <!-- Forgot password END -->
        </div>
      </div> <!-- Row END -->
    </div>
    <!-- Container END -->
  
  </main>
  
  <!-- **************** MAIN CONTENT END **************** -->
{% endblock %}
