.titanic {
    float: none;
}

.messages {
    position: relative;
    padding: 10px 10px 0 10px;
    margin: 0 0 0 0;
    height: 500px;
}

.messages .message {
    clear: both;
    margin-bottom: 20px;
    list-style-type: none;
}

.messages .message.left .box .bi{
    color: #007bff;
    margin-left: 2px;
    font-size: 18px;
}

.messages .message.left {
    width: 70%;
}

.messages .message.right .box .bi{
    color: #007bff;
    position: relative;
    left: -5px;
    font-size: 18px;
    float: right;
}

.messages .message.left .avatar {
    float: left;
    height: 12vh;
}

.messages .message.left .text_wrapper {
    background-color: #29292e;
    padding: 10px 10px -0px;
    margin-left: 20px;
}

.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
    right: 100%;
    border-right-color: #29292e;
}

.messages .message.left .text {
    color: #fff;
    position: relative;
    top: 13px;
}

.messages .message.right {
    margin-left: 15em !important;
    width: 70%;
}

.messages .message.right .small {
    float: right;
}

.messages .message.right .avatar {
    float: right;
    height: 12vh;
}

.messages .message.right .text_wrapper {
    background-color: #007bff;
    padding: 10px 10px -0px;
    margin-right: 20px;
    float: right;
}

.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
    left: 100%;
    border-left-color: #007bff;
}

.messages .message.right .text {
    color: #fff;
    position: relative;
    top: 13px;
}

.messages .message .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: white;
    padding-top: 18px;
}

.messages .message .text_wrapper {
    display: inline-block;
    padding: 20px;
    border-radius: 6px;
    width: calc(100% - 85px);
    min-width: 100px;
    position: relative;
}

.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.messages .message .text_wrapper::after {
    border-width: 13px;
    margin-top: 0;
}

.messages .message .text_wrapper::before {
    border-width: 15px;
    margin-top: -2px;
}

.messages .message .text_wrapper .text {
    font-size: 18px;
    font-weight: 300;
}

body {
    font-size: 15px;
}
