{% extends "base.html" %}
{% block title %}Bookmark an image{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href= "//127.0.0.1:8000/static/css/bookmarklet.css?r=1234567890123456">
</head>
<body>
     <h1>Bookmark an image</h1>
     <img src="{{ request.GET.url }}" class="image-preview">
     <form method="post">
         {{ form.as_p }}
         {% csrf_token %}
         <input type="submit" value="Bookmark it!">
     </form>
</body>
</html>
{% endblock %}
