{% extends 'base.html' %}

{% block content %}
    <section style="background-image: url(../../static/assets/366946-watchtower-in-oled-style-k-wallpaper-hdwallpaper-desktop.jpg); background-repeat: no-repeat; background-size: cover; height: 100vh;" class="content">
        <div style="position: relative; left: 25em; top: 8em; backdrop-filter: blur(7px); width: 50%; padding: 15px 50px;" class="box">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div style="text-align: right;" class="button">
                    <a class="btn btn-sm btn-danger mb-0" href="{% url 'core:post_detail' post.id %}">Cancel</a>
                    <button class="btn btn-sm btn-primary mb-0" type="submit">Save Changes</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}