{% extends 'base.html' %}

{% block content %}
{% if users %}
  <section style="height: 100vh; background-image: url(../../static/assets/366946-watchtower-in-oled-style-k-wallpaper-hdwallpaper-desktop.jpg); background-repeat: no-repeat; background-size: cover;" class="content">
    {% for user in users %}
      <div class="card-header border-0 pb-0">
        <div style="justify-content: center; backdrop-filter: blur(7px); padding: 15px 50px; position: relative; top: 5em;" class="d-flex align-items-center">
          <!-- Avatar -->
          <div class="avatar avatar-story me-2">
            <a href="#!"> <img class="avatar-img rounded-circle" src="{% thumbnail user.profile.photo 180x180 %}" alt=""> </a>
          </div>
          <!-- Info -->
          <div>          
            <div class="nav nav-divider">
              {% if user.username %}
                <h6 class="nav-item card-title mb-0"> <a href="{% url 'account:dashboard' username=user.username %}"> {{ user.username }} </a></h6>
              {% else %}
                <p class="text-center">Profilingiz yuq</p>
              {% endif %}
            </div>
            <p class="mb-0 small">Web Developer at Webestica</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
{% else %}
  <p>No users found.</p>
{% endif %}
{% endblock %}
