{% extends 'base.html' %}

{% block content %}
<section style="height: 100vh; background-image: url(../../static/assets/366946-watchtower-in-oled-style-k-wallpaper-hdwallpaper-desktop.jpg); background-repeat: no-repeat; background-size: cover;" class="content">
  {% for user in users %}
    <div class="card-header border-0 pb-0">
      <div style="justify-content: center; backdrop-filter: blur(7px); padding: 15px 50px; position: relative; top: 5em;" class="d-flex align-items-center">
      <!-- Avatar -->
      <div class="avatar avatar-story me-2">
        <a href="#!"> <img class="avatar-img rounded-circle" src="{% thumbnail user.profile.photo 180x180 %}" alt=""> </a>
      </div>
      <!-- Info -->
    </ul>
  {% else %}
    <p>No users found.</p>
  {% endif %}
{% endblock %}
