{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}Profile{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
{% block content %}
<body>
<!-- **************** MAIN CONTENT START **************** -->
<main>
    <!-- Container START -->
    <div class="container">
      <div class="row g-4">
  
        <!-- Main content START -->
        <div class="col-lg-8 vstack gap-4">
          <!-- My profile START -->
          <div class="card">
            <!-- Cover image -->
            <div class="h-200px rounded-top" style="background-image:url(../../static/assets/images/bg/05.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
              <!-- Card body START -->
              <div class="card-body py-0">
                <div class="d-sm-flex align-items-start text-center text-sm-start">
                  <div>
                    <!-- Avatar -->
                    <div class="avatar avatar-xxl mt-n5 mb-3">
                      <img class="avatar-img rounded-circle border border-white border-3" src="{% if user.profile.photo %}{% thumbnail user.profile.photo 180x180 %}{% else %}../../../static/profile.gif {% endif %}" alt="">
                    </div>
                  </div>
                  <div class="ms-sm-4 mt-sm-3">
                    <!-- Info -->
                    <h1 class="mb-0 h5">
                        {{ user.username }} <i class="bi bi-patch-check-fill text-success small"></i>
                    </h1>
                    {% with total_followers=user.followers.count %}
                        {% if total_followers %}
                          <p>{{ total_followers }} ulanishlar</p>
                        {% else %}
													<span>Hozircha sizda ulanishlar mavjud emas!</span>
												{% endif %}
                    {% endwith %}
                  </div>
                  <!-- Button -->
                  <div class="d-flex mt-3 justify-content-center ms-sm-auto">
                    <button class="btn btn-danger-soft me-2" type="button">
                        <a href="{% url 'edit_profile' username=user.username %}"><i class="bi bi-pencil-fill pe-1"></i> Profilni tahrirlash </a> 
                    </button>
                    <div class="dropdown">
                      <!-- Card share action menu -->
                      <button class="icon-md btn btn-light" type="button" id="profileAction2" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                      </button>
                      <!-- Card share action dropdown menu -->
                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileAction2">
                        <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark fa-fw pe-2"></i>Share profile in a message</a></li>
                        <li><a class="dropdown-item" href="{% url 'profile_to_pdf' %}"> <i class="bi bi-file-earmark-pdf fa-fw pe-2"></i>Save your profile to PDF</a></li>
                        <li><a class="dropdown-item" href="#"> <i class="bi bi-lock fa-fw pe-2"></i>Lock profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'edit_profile' username=user.username %}"> <i class="bi bi-gear fa-fw pe-2"></i>Profile settings</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- List profile -->
                <ul class="list-inline mb-0 text-center text-sm-start mt-3 mt-sm-0">
                  <li class="list-inline-item"><i class="bi bi-briefcase me-1"></i> {{ profile.user_type }}</li>
                  <li class="list-inline-item"><i class="bi bi-geo-alt me-1"></i> {{ profile.location }}</li>
                  <li class="list-inline-item"><i class="bi bi-calendar2-plus me-1"></i> {{ profile.created_at }} qo‘shilgan</li>
                </ul>
              </div>
              <!-- Card body END -->
              <div class="card-footer mt-3 pt-2 pb-0">
                <!-- Nav profile pages -->
                <ul class="nav nav-bottom-line align-items-center justify-content-center justify-content-md-start mb-0 border-0">
                  <li class="nav-item"> <a class="nav-link active" href="#"> Xabarlar </a> </li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'my_profile_about' %}"> Haqida </a> </li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'my_profile_connections' %}"> Ulanishlar <span class="badge bg-success bg-opacity-10 text-success small"> 
                      {% with total_followers=user.followers.count %}
                        {% if total_followers %}
                          {{ total_followers }}
                        {% else %}
                          <span>0</span>
                        {% endif %}
                      {% endwith %}
                    </span> </a> </li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'saved_posts' %}"> Saqlanganlar</a> </li>
                </ul>
              </div>
            </div>
            <!-- My profile END -->

            <!-- media START -->
            <div class="card">
              <!-- Card header START -->
              <div class="card-header d-sm-flex align-items-center justify-content-between border-0 pb-0">
                <h5 class="card-title">Photos</h5>
              </div>
              <!-- Card header END -->
              <!-- Card body START -->
              <div class="card-body">
                <!-- Photos of you tab START -->
                <div class="row g-3">
                  {% if posts %}
                    {% for post in posts %}
                      <!-- Photo item START -->
                      {% if post.image %}
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <!-- Photo -->
                        <a href="{{ post.image.url }}" data-gallery="image-popup" data-glightbox="description: .custom-desc2; descPosition: left;">
                          <img class="rounded img-fluid" src="{{ post.image.url }}" alt="{{ post.caption }}">
                        </a>
                        <!-- likes -->
                        <ul class="nav nav-stack py-2 small">
                          <li class="nav-item">
                            <a class="nav-link" href="#!"> <i class="bi bi-heart-fill text-danger pe-1"></i>{{ post.likes.count }} </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#!"> <i class="bi bi-chat-left-text-fill pe-1"></i>{{ post.comments.count }} </a>
                          </li>
                        </ul>
                        
                        <!-- glightbox Albums left bar START -->
                        <div class="glightbox-desc custom-desc2">
                          <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                              <!-- Avatar -->
                              <div class="avatar me-2">
                                <img class="avatar-img rounded-circle" src="{% if user.profile.photo %}{% thumbnail user.profile.photo 180x180 %}{% else %}../../../static/profile.gif {% endif %}" alt="">
                              </div>
                              <!-- Info -->
                              <div>
                                <div class="nav nav-divider">
                                  <h6 class="nav-item card-title mb-0">{{ post.user.username }}</h6>
                                  <span class="nav-item small"> {{ post.time_since_creation }}</span>
                                </div>
                                <p class="mb-0 small">{{ profile.location }}</p>
                              </div>
                            </div>
                            <!-- Card feed action dropdown START -->
                            <div class="dropdown">
                              <a href="#" class="text-secondary btn btn-secondary-soft-hover py-1 px-2" id="cardFeedAction" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                              </a>
                              <!-- Card feed action dropdown menu -->
                              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardFeedAction">
                                <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark fa-fw pe-2"></i>Save post</a></li>
                                <li><a class="dropdown-item" href="#"> <i class="bi bi-x-circle fa-fw pe-2"></i>Hide post</a></li>
                                <li><a class="dropdown-item" href="#"> <i class="bi bi-slash-circle fa-fw pe-2"></i>Block</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#"> <i class="bi bi-flag fa-fw pe-2"></i>Report post</a></li>
                              </ul>
                            </div>
                            <!-- Card feed action dropdown END -->
                          </div>
                          <p class="mt-3 mb-0">{{ post.caption }} 
                          <a href="{% url 'core:post_detail' slug=post.slug %}">{{ post.hashtags }}</a> </p>
                          <ul class="nav nav-stack py-3 small">
                            <li class="nav-item">
                              <form method="post" action="{% url 'core:like_post' slug=post.slug %}">
                                {% csrf_token %}
                                <button style="border: none; background-color: transparent !important;" type="submit">
                                  <a class="nav-link active" href="#!" data-bs-container="body" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-custom-class="tooltip-text-start" data-bs-title="{{ user.username }}<br> "> <i class="bi bi-hand-thumbs-up-fill pe-1"></i>Liked ({{ post.likes.count }})</a>
                                </button>
                              </form>
                            </li>
                            <li class="nav-item">
                              <form action="{% url 'core:add_comment' slug=post.slug %}" method="post">
                                {% csrf_token %}
                                <button style="background-color: transparent; border: none; color: #fff;" type="submit"><i class="bi bi-chat-fill pe-1"></i>Comments ({{ post.comments.count }})</button>
                              </form>
                            </li>
                            <!-- Card share action START -->
                            <li class="nav-item dropdown ms-auto">
                              <a class="nav-link mb-0" href="#" id="cardShareAction" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-reply-fill fa-flip-horizontal pe-1"></i>Share (3)
                              </a>
                              <!-- Card share action dropdown menu -->
                              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction">
                                <li><a class="dropdown-item" href="#"> <i class="bi bi-envelope fa-fw pe-2"></i>Send via Direct Message</a></li>
                                <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark </a></li>
                                <li><a class="dropdown-item" href="#"> <i class="bi bi-link fa-fw pe-2"></i>Copy link to post</a></li>
                                <li><a class="dropdown-item" href="#"> <i class="bi bi-share fa-fw pe-2"></i>Share post via …</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#"> <i class="bi bi-pencil-square fa-fw pe-2"></i>Share to News Feed</a></li>
                              </ul>
                            </li>
                            <!-- Card share action END -->
                          </ul>
                          <!-- Comment wrap START -->
                          {% for comment in post.comments.all %}
                          <ul class="comment-wrap list-unstyled">
                            <!-- Comment item START -->
                            <li class="comment-item">
                              <div class="d-flex position-relative">

                                <!-- Avatar -->
                                <div class="avatar avatar-xs">
                                  <a href="#!"><img class="avatar-img rounded-circle" src="{% if user.profile.photo %}{% thumbnail user.profile.photo 180x180 %}{% else %}../static/profile.gif{% endif %}" alt=""></a>
                                </div>
                                <div class="ms-2">
                                  <!-- Comment by -->
                                  <div class="bg-light rounded-start-top-0 p-3 rounded">
                                    <div class="d-flex justify-content-between">
                                      <h6 class="mb-1"> <a href="#!"> {{ comment.user.username }} </a></h6>
                                      <small class="ms-2">{{ comment.created_at }}</small>
                                    </div>
                                    <p class="small mb-0">{{ comment.text }}</p>
                                  </div>
                                  <!-- Comment react -->
                                  <ul class="nav nav-divider py-2 small">
                                    <li class="nav-item">
                                      <a class="nav-link" href="#!"> Like (3)</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#!"> Reply</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#!"> View 5 replies</a>
                                    </li>
                                  </ul>
                                </div>

                              </div>
                              <!-- Reply Comments -->
                              {% for reply_comment in comment.get_reply_comments %}
                              <!-- Comment item nested START -->
                              <ul class="comment-item-nested list-unstyled">
                                <!-- Comment item START -->
                                <li class="comment-item">
                                  <div class="d-flex">
                                    <!-- Avatar -->
                                    <div class="avatar avatar-xs">
                                      <a href="#!"><img class="avatar-img rounded-circle" src="{% if user.profile.photo %}{% thumbnail user.profile.photo 180x180 %}{% else %}../static/profile.gif{% endif %}" alt=""></a>
                                    </div>
                                    <!-- Comment by -->
                                    <div class="ms-2">
                                      <div class="bg-light p-3 rounded">
                                        <div class="d-flex justify-content-between">
                                          <h6 class="mb-1"> <a href="#!"> {{ comment.user.username }} </a> </h6>
                                          <small class="ms-2">{{ comment.created_at }}</small>
                                        </div>
                                        <p class="small mb-0">{{ reply_comment.text }}</p>
                                      </div>
                                      <!-- Comment react -->
                                      <ul class="nav nav-divider py-2 small">
                                        <li class="nav-item">
                                          <a class="nav-link" href=""> Like ({{ reply_comment.likes.count }})</a>
                                        </li>
                                        <!-- <li class="nav-item">
                                          <a class="nav-link" href="#!"> Reply</a>
                                        </li> -->
                                      </ul>
                                      <form action="{% url 'core:reply_comment' post_id=post.id comment_id=comment.id %}" method="post">
                                        {% csrf_token %}
                                        {{ form.text }}
                                        <input class="btn btn-primary" type="submit" value="Reply">
                                      </form>
                                    </div>
                                  </div>
                                </li>
                                <!-- Comment item END -->
                              </ul>
                              {% endfor %}
                            </li>
                            <!-- Comment item END -->

                          </ul>
                          {% endfor %}
                          <!-- Comment wrap END -->
                        </div>
                        <!-- glightbox Albums left bar END  -->
                      </div>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <div style="text-align: center;" class="content">
                      <i style="font-size: 4em;" class="bi bi-camera"></i>
                      <p>Hali sizda rasim posti mavjud emas!</p>
                      <p>Post yaratish uchun <a href="{% url 'core:post_list' %}">bu yerga bosing</a></p>
                    </div>
                  {% endif %}
                  <!-- Photo item END -->
                </div>
                <!-- Photos of you tab END -->
              </div>
              <!-- Card body END -->
            </div>
            <!-- media END -->

            <!-- Video START -->
            <div class="card">
              <!-- Card header START -->
              <div class="card-header border-0 pb-0">
                <h5 class="card-title">Videos</h5>
                <!-- Button modal -->
              </div>
              <!-- Card header END -->
              <!-- Card body START -->
              <div class="card-body">
                <!-- Video of you tab START -->
                <div class="row g-3">
                  {% if posts %}
                    {% for post in posts %}
                      <!-- Photo item START -->
                      {% if post.video %}
                        <div class="col-sm-6 col-md-4">
                          <!-- Video START -->
                          <div class="card p-0 shadow-none border-0 position-relative">
                            <!-- Video image -->
                            <div class="position-relative">
                              <img class="rounded" src="{% static 'assets/images/albums/01.jpg' %}" alt="">
                              <!-- Play icon -->
                              <div class="position-absolute top-0 end-0 p-3">
                                <a class="icon-md bg-danger text-white rounded-circle" data-glightbox href="{{ post.video.url }}"> <i class="bi bi-play-fill fs-5"> </i> </a>
                              </div>
                              <!-- Duration -->
                              <div class="position-absolute bottom-0 start-0 p-3 d-flex w-100">
                                <span class="bg-dark bg-opacity-50 px-2 rounded text-white small">02:20</span>
                              </div>
                            </div>
                            <!-- Video info -->
                            <div class="card-body px-0 pb-0 pt-2">
                              <ul class="nav nav-stack small">
                                <li class="nav-item">
                                  <a class="nav-link" href="#!"> <i class="bi bi-heart-fill text-danger pe-1"></i>{{ post.likes.count }}</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#!"> <i class="bi bi-chat-left-text-fill pe-1"></i>{{ post.comments.count }} </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <!-- Video END -->
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    <div style="text-align: center;" class="content">
                      <i style="font-size: 4em;" class="bi bi-camera-video-off"></i>
                      <p>Hali sizda video posti mavjud emas!</p>
                      <p>Post yaratish uchun <a href="{% url 'core:post_list' %}">bu yerga bosing</a></p>
                    </div>
                  {% endif %}
                </div>
              </div>
            <!-- Video of you tab END -->
            </div>
            <!-- Card body END -->
            <!-- Card footer START -->
            <div class="card-footer border-0 pt-0">
            </div>
            <!-- Card footer END -->

            <!-- Card feed item START -->
            <div class="card">
              
              <div class="border-bottom">
                <p class="small mb-0 px-4 py-2"><i class="bi bi-heart-fill text-danger pe-1"></i>Sam Lanson likes this post</p>
              </div>
              <!-- Card header START -->
              <div class="card-header border-0 pb-0">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <!-- Avatar -->
                    <div class="avatar me-2">
                      <a href="#"> <img class="avatar-img rounded-circle" src="{% static 'assets/images/logo/13.svg' %}" alt=""> </a>
                    </div>
                    <!-- Title -->
                    <div>
                      <h6 class="card-title mb-0"> <a href="#!"> Apple Education </a></h6>
                      <p class="mb-0 small">9 November at 23:29</p>
                    </div>
                  </div>
                  <!-- Card share action menu -->
                  <a href="#" class="text-secondary btn btn-secondary-soft-hover py-1 px-2" id="cardShareAction5" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots"></i>
                  </a>
                  <!-- Card share action dropdown menu -->
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction5">
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark fa-fw pe-2"></i>Save post</a></li>
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-person-x fa-fw pe-2"></i>Unfollow lori ferguson </a></li>
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-x-circle fa-fw pe-2"></i>Hide post</a></li>
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-slash-circle fa-fw pe-2"></i>Block</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#"> <i class="bi bi-flag fa-fw pe-2"></i>Report post</a></li>
                  </ul>
                </div>
                  <!-- Card share action END -->
              </div>
              <!-- Card header START -->
  
              <!-- Card body START -->
              <div class="card-body pb-0">
                <p>Find out how you can save time in the classroom this year. Earn recognition while you learn new skills on iPad and Mac. Start  recognition your first Apple Teacher badge today!</p>
                <!-- Feed react START -->
                <ul class="nav nav-stack pb-2 small">
                  <li class="nav-item">
                    <a class="nav-link active text-secondary" href="#!"> <i class="bi bi-heart-fill me-1 icon-xs bg-danger text-white rounded-circle"></i> Louis, Billy and 126 others </a>
                  </li>
                  <li class="nav-item ms-sm-auto">
                    <a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>Comments (12)</a>
                  </li>
                </ul>
                <!-- Feed react END -->
              </div>
              <!-- Card body END -->
              <!-- Card Footer START -->
              <div class="card-footer py-3">
                <!-- Feed react START -->
                <ul class="nav nav-fill nav-stack small">
                  <li class="nav-item">
                    <a class="nav-link mb-0 active" href="#!"> <i class="bi bi-heart pe-1"></i>Liked (56)</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link mb-0" href="#!"> <i class="bi bi-chat-fill pe-1"></i>Comments (12)</a>
                  </li>
                  <!-- Card share action dropdown START -->
                  <li class="nav-item dropdown">
                    <a href="#" class="nav-link mb-0" id="cardShareAction6" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-reply-fill flip-horizontal ps-1"></i>Share (3)
                    </a>
                    <!-- Card share action dropdown menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction6">
                      <li><a class="dropdown-item" href="#"> <i class="bi bi-envelope fa-fw pe-2"></i>Send via Direct Message</a></li>
                      <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark </a></li>
                      <li><a class="dropdown-item" href="#"> <i class="bi bi-link fa-fw pe-2"></i>Copy link to post</a></li>
                      <li><a class="dropdown-item" href="#"> <i class="bi bi-share fa-fw pe-2"></i>Share post via …</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#"> <i class="bi bi-pencil-square fa-fw pe-2"></i>Share to News Feed</a></li>
                    </ul>
                  </li>
                  <!-- Card share action dropdown END -->
                  <li class="nav-item">
                    <a class="nav-link mb-0" href="#!"> <i class="bi bi-send-fill pe-1"></i>Send</a>
                  </li>
                </ul>
                <!-- Feed react END -->
              </div>
              <!-- Card Footer END -->
            </div>
            <!-- Card feed item END -->
        </div>
        <!-- Main content END -->
  
        <!-- Right sidebar START -->
        <div class="col-lg-4">
  
          <div class="row g-4">
  
            <!-- Card START -->
            <div class="col-md-6 col-lg-12">
              <div class="card">
                <div class="card-header border-0 pb-0">
                  <h5 class="card-title">About</h5>
                  <!-- Button modal -->
                </div>
                <!-- Card body START -->
                <div class="card-body position-relative pt-0">
                  <p>{{ profile.bio }}</p>
                  <!-- Date time -->
                  <ul class="list-unstyled mt-3 mb-0">
                    {% if profile.date_of_birth %}
                      <li class="mb-2"> <i class="bi bi-calendar-date fa-fw pe-1"></i> Born: <strong> {{ profile.date_of_birth }} </strong> </li>
                    {% else %}
                      <li class="mb-2"> <i class="bi bi-calendar-date fa-fw pe-1"></i> Born: <strong> 12/12/1990 </strong> </li>
                    {% endif %}
                    <li class="mb-2"> <i class="bi bi-heart fa-fw pe-1"></i> Status: <strong> Single </strong> </li>
                    <li> <i class="bi bi-envelope fa-fw pe-1"></i> Email: <strong> {{ user.email }} </strong> </li>
                  </ul>
                </div>
                <!-- Card body END -->
              </div>
            </div>
            <!-- Card END -->
  
            <!-- Card START -->
            <div class="col-md-6 col-lg-12">
              <div class="card">
                <!-- Card header START -->
                <div class="card-header d-flex justify-content-between border-0">
                  <h5 class="card-title">Experience</h5>
                  <a class="btn btn-primary-soft btn-sm" href="#!"> <i class="fa-solid fa-plus"></i> </a>
                </div>
                <!-- Card header END -->
                <!-- Card body START -->
                <div class="card-body position-relative pt-0">
                  <!-- Experience item START -->
                  <div class="d-flex">
                    <!-- Avatar -->
                    <div class="avatar me-3">
                      <a href="#!"> <img class="avatar-img rounded-circle" src="{% static 'assets/images/logo/08.svg' %}" alt=""> </a>
                    </div>
                    <!-- Info -->
                    <div>
                      <h6 class="card-title mb-0"><a href="#!"> Apple Computer, Inc. </a></h6>
                      <p class="small">May 2015 – Present Employment Duration 8 mos <a class="btn btn-primary-soft btn-xs ms-2" href="#!">Edit </a></p>
                    </div>
                  </div>
                  <!-- Experience item END -->
  
                  <!-- Experience item START -->
                  <div class="d-flex">
                    <!-- Avatar -->
                    <div class="avatar me-3">
                      <a href="#!"> <img class="avatar-img rounded-circle" src="{% static 'assets/images/logo/09.svg' %}" alt=""> </a>
                    </div>
                    <!-- Info -->
                    <div>
                      <h6 class="card-title mb-0"><a href="#!"> Microsoft Corporation </a></h6>
                      <p class="small">May 2017 – Present Employment Duration 1 yrs 5 mos <a class="btn btn-primary-soft btn-xs ms-2" href="#!">Edit </a></p>
                    </div>
                  </div>
                  <!-- Experience item END -->
  
                  <!-- Experience item START -->
                  <div class="d-flex">
                    <!-- Avatar -->
                    <div class="avatar me-3">
                      <a href="#!"> <img class="avatar-img rounded-circle" src="{% static 'assets/images/logo/10.svg' %}" alt=""> </a>
                    </div>
                    <!-- Info -->
                    <div>
                      <h6 class="card-title mb-0"><a href="#!"> Tata Consultancy Services. </a></h6>
                      <p class="small mb-0">May 2022 – Present Employment Duration 6 yrs 10 mos <a class="btn btn-primary-soft btn-xs ms-2" href="#!">Edit </a></p>
                    </div>
                  </div>
                  <!-- Experience item END -->
  
                </div>
                <!-- Card body END -->
              </div>
            </div>
            <!-- Card END -->
  
            <!-- Card START -->
            {% for action in actions %}
              {% include "actions/action/detail.html" %}
            {% endfor %}
            <!-- Card END -->
          </div>
  
        </div>
        <!-- Right sidebar END -->
  
      </div> <!-- Row END -->
    </div>
    <!-- Container END -->
  
  </main>
  <!-- **************** MAIN CONTENT END **************** -->

</body>
</html>
{% endblock %}
{% block domready %}
  const url = '{% url "user_follow" %}';
  var options = {
    method: 'POST',
    headers: {'X-CSRFToken': csrftoken},
    mode: 'same-origin'
  }

  document.querySelector('a.follow')
          .addEventListener('click', function(e){
    e.preventDefault();
    var followButton = this;

    // add request body
    var formData = new FormData();
    formData.append('id', followButton.dataset.id);
    formData.append('action', followButton.dataset.action);
    options['body'] = formData;

    // send HTTP request
    fetch(url, options)
    .then(response => response.json())
    .then(data => {
      if (data['status'] === 'ok')
      {
        var previousAction = followButton.dataset.action;

        // toggle button text and data-action
        var action = previousAction === 'follow' ? 'unfollow' : 'follow';
        followButton.dataset.action = action;
        followButton.innerHTML = action;

        // update follower count
        var followerCount = document.querySelector('span.count .total');
        var totalFollowers = parseInt(followerCount.innerHTML);
        followerCount.innerHTML = previousAction === 'follow' ? totalFollowers + 1 : totalFollowers - 1;
      }
    })
  });
{% endblock %}