{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}login - in {% endblock %}</title>
</head>
{% block content %}
<body>
    <div class="container">
        <h1>Kirish - kirish</h1>
        <p>Iltimos, tizimga kirish uchun quyidagi shakldan foydalaning</p>
        <form method="post">
            {{ form.username }}<br/>
            {{ form.password }}<br/>
            {% csrf_token %}
            <p><input type="submit" value="Tizimga kirish"></p>
        </form>         
    </div>
</body>
{% endblock %}
</html>